---
layout: default
title: Blog
---
<h1>Blog Posts</h1>

<div class="post-list">
  {% for post in site.posts %}
    <div class="post-preview">
      <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
      <p class="post-date">{{ post.date | date: "%B %d, %Y" }}</p>
      {% if post.excerpt %}
        <p class="post-excerpt">{{ post.excerpt }}</p>
        <a href="{{ post.url | relative_url }}" class="read-more">Read more...</a>
      {% endif %}
    </div>
  {% endfor %}
</div>
